:root {}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.app{
  width:100%
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1280px;
  line-height: 1.3;
  margin-inline: auto;
  padding: 0rem 2rem;

}

a {
  text-decoration: none;
  color: initial;
 

}

/* ****************************************************************** */

.flex {
  display: flex
}

.flex-col {
  flex-direction: column;
}

.space-btw {
  justify-content: space-between;
}

.just-cent {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.self-end {
  align-self: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row-gap-1 {
  row-gap: 1rem;
}

.row-gap-2 {
  row-gap: 2rem;
}

.cg-2 {
  column-gap: 2rem;
}
.cg-3 {
  column-gap: 3rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.flow-1 {
  margin-block-end: 1rem;
}

.flow-2 {
  margin-block-end: 2rem;
}

.flow-3 {
  margin-block-end: 3rem;
}

.flow-4 {
  margin-block-end: 4rem;
}


.flow-6 {
  margin-block-end: 6rem;
}


.pad-2 {
  padding-block: 2rem;
}

.pad-row-1 {
  padding-inline: 2rem
}

.bold{
  font-weight: bold;
}

/* ******************************************************************** */
.form {
  background-color: aqua;
  color: white;
  background: url("./cat/HeroImagemd.png");
  background-position: 40% 60%;
  padding: 9rem 0 9rem 6rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;



  & svg {
    /* width:12.938rem; */
    height: 87px;
    max-width: 100%;
  }

  & path {
    fill: white
  }

  & input {
    width: 100%;
    max-width: 100%;
    padding: 1rem 0;
    border-radius: 59px;
  }

  & p {
    font-size: 1.5rem;
  }

  & span {
    right: 2rem;
    top: 1rem;
    color: black !important
  }

}



.cont-radius {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}





/* *********************************************************************** */



.mostsearched {
  background-color: #E3E1DC;
  padding: 2rem 4rem;

}



.mostsearched .container {

  margin: 0 auto;

}

.seemore{
  text-align: end;
  width:15%;
}

.reason {
  padding: 2rem 4rem;

}
.reason article:first-child{
  width: 30%;
}


.footer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 0rem 2rem;
}



.card img{
  /* min-width: 122px; */
  border-radius:14px;
  object-fit: cover;

}

@media screen  and (max-width: 900px) {


  .mostsearched{
    padding:unset
  }
  .reason article:first-child{
    width:100%;
  }

  .seemore{
    text-align: initial;
    width:100%
  }





}

@media screen and (max-width: 710px) {
  body{
    padding: 1rem;
  }


  .reason{
    padding:unset;

    width:100%
  }

  .reason img{
    width:100%
  }
  /* .footer-media{
    justify-content: flex-start;
    width:100%;
  } */
/*
  /* .mostsearched h2{
    width:100%;
  } */


}


@media screen and (max-width: 600px) {
  body {
    padding: 0.4rem;
  }

     .form {
       padding: unset;
       padding: 2rem .5rem;
      background: url("./cat/HeroImagesm.png");
      background-position: 50% 60%;

     }

     .form .MuiAutocomplete-root {
      width:50%
     }

     .form picture img{
      width:50%
     }

     .form> input{
      width:5rem;

     }





}


@media screen and (max-width: 360px) {

  .form {
      padding: unset;
      padding: 2rem .5rem;
      background: url("./cat/HeroImagesm.png");
  background-position:50% 60%;
}

}






































/* @media screen and (max-width:300px){


    .form {

        background: url("./cat/HeroImagesm.png");
        background-position: 25% 60%;
  }
  } */
